<!DOCTYPE html>
<html>
    <head>
        <title>Select User</title>
    </head>
    <body>
        <div class="container">
        <h1>Selecciona un usuario</h1>
        <form action="/viajes/search" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>correo</td>
                        <td><input type="text" name="correo" /></td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
    </body>
</html>
