<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>{{title}}</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Wander Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140875710-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140875710-1');
</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="../css/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Aleo:300,300i,400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	<!-- //Web-Fonts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body style="background-image: url(../images/fondo.jpg); background-size: cover;">
	<!-- home -->
	<div id="home">
		<!-- banner -->
		<div class="banner">
			<!-- nav -->
			<div class="nav_w3ls pt-4 pb-3 text-center">
				<nav>
					<label for="drop" class="toggle">Menu</label>
					<input type="checkbox" id="drop" />
					<ul class="menu">
						<li><a href="/viajes/main">Inicio</a></li>
						<li><a href="/viajes/mviajes">Mis Viajes</a></li>
						<li><a href="/viajes/goToAdd">Nuevo Viaje</a></li>
						<li><a href="/viajes/getAll">Disponibles</a></li>
						<li><a href="/logout">Salir</a></li>
					</ul>
				</nav>
			</div>
			<!-- //nav -->
			<div class="banner-text-2 text-right">
				<div class="banner-bot-2">
					<h1><a href="/index" class="logo text-wh editContent">Viajes Disponibles</a></h1>
				</div>
			</div>
		</div>
		<!-- //banner -->
	</div>
	<!-- //home -->

	<!-- Gallery -->
	<section class="gallery py-5" id="gallery">
		<div class="container py-md-5">
			<div class="row mb-5 align-items-center">

			{% block allAva %}{% endblock %}

			</div>
			<!-- gallery popups -->
			{% block popUps %}{% endblock %}
			<!-- popup-->
			<div id="gal1" class="pop-overlay animate">
				<div class="popup">
					<img src="../images/g1.jpg" alt="Popup Image" class="img-fluid" />
					<p>“El viajero ve lo que ve, el turista ve lo que ha venido a ver.” <br> Gilbert Keith Chesterton</p>
					<a class="close" href="#gallery">&times;</a>
				</div>
			</div>

		</div>
	</section>
	<!-- //gallery -->

	<!-- footer -->
	<footer class="py-4">
		<div class="container py-xl-5 py-3">
			<div class="row">
				<div class="col-lg-4 col-sm-6 col-8 footer-grid">
					<h2 class="mb-3">
						<a class="logo-footer tm-clr let" href="/index">Ubernoes</a>
					</h2>
					<p>“El viajero ve lo que ve, el turista ve lo que ha venido a ver.” <br> Gilbert Keith Chesterton</p>
				</div>
				<div class="offset-lg-1 col-lg-2 col-sm-6 col-4 footer-grid mt-lg-0 mt-4">
					<ul class="list-unstyled">
						<li>
							<a href="/index">Index</a>
						</li>
						<li class="my-2">
							<a href="/index">About Us</a>
						</li>
						<li>
							<a href="/index">What We Do</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-6 footer-grid mt-lg-0 mt-4">
					<ul class="list-unstyled">
						<li>
							<a href="/index">Destination</a>
						</li>
						<li class="my-2">
							<a href="/index">Blog</a>
						</li>
						<li>
							<a href="/single">Blog Details</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-6 footer-grid mt-lg-0 mt-4">
					<ul class="list-unstyled">
						<li>
							<a href="/gallery">Gallery</a>
						</li>
						<li class="my-2">
							<a href="/contact">Contact Us</a>
						</li>
						<li>
							<a href="/index">Some More</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<!-- footer social icons -->
	<div class="social-icons-footer text-center my-3">
		<ul class="list-unstyled">
			<li>
				<a href="#">
					<span class="fa fa-facebook"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-twitter"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-google-plus"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-instagram"></span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //footer social icons -->
	<!-- copyright -->
	<div class="copy_right mb-5">
		<p class="text-center text-bl let">© 2019 Wander. All rights reserved | Design by
			<a href="http://w3layouts.com/">W3layouts</a>
		</p>
	</div>
	<!-- //copyright -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->
{% block resources %}{% endblock %}

</body>
</html>
