<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inicio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900">
    <link rel="stylesheet" href="../css/bootstrap.principal.css">
    <link rel="stylesheet" href="../css/principal.css">

  </head>
  <body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <div class="site-section site-block-3 "style="background-image: url(../images/5.jpg); background-size: cover;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 >Bienvenido {{correo}}</h1>
            <img src="../images/ubernoes.png" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-6">
            <div class="row row-items">
              <div class="col-md-6">
                <a href="/viajes/goToAdd" class="d-flex text-center feature  p-4 mb-4">
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <img class="img-fluid rounded-circle mb-3" src="../images/agendar.png" alt="">
                    </span>
                    <h3>Registrar Viaje</h3>
                  </span>
                </a>
              </div>
              <div class="col-md-6">
                <a href="/viajes/getAll" class="d-flex text-center feature p-4 mb-4">
                  <span class="align-self-center w-100">
                    <span class="d-block mb-3">
                      <img class="img-fluid rounded-circle mb-3" src="../images/disp.png" alt="">
                    </span>
                    <h3>Disponibles</h3>
                  </span>
                </a>
              </div>
              <div class="col-md-6">
                  <a href="/viajes/mviajes" class="d-flex text-center feature p-4 mb-4">
                    <span class="align-self-center w-100">
                      <span class="d-block mb-3">
                         <img class="img-fluid rounded-circle mb-3" src="../images/misviajes.png" alt="">
                      </span>
                      <h3>Mis Viajes</h3>
                    </span>
                  </a>
                </div>
                <div class="col-md-6">
                    <a href="/logout" class="d-flex text-center feature p-4 mb-4">
                      <span class="align-self-center w-100">
                        <span class="d-block mb-3">
                           <img class="img-fluid rounded-circle mb-3" src="../images/s.png" alt="">
                        </span>
                        <h3>Salir</h3>
                      </span>
                    </a>
                  </div>
            </div>
        </div>
      </div>
    </div>
    </footer>
  </div>
</div>
</body>
</html>


  <script src="../js/main.js"></script>

  </body>
</html>
